
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #393E41; 
  --secondary-color: #3CB371; 
  --text-color: #EAE1DF; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  }


a {
  text-decoration: none !important;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 99;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-right: 40px;
}

@media screen and (max-width: 680px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 40px;
    box-sizing: border-box;
    z-index: 99;
  }
}

nav ul.show {
  display: flex;
}

li {
  list-style: none;
}

li a{
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}

li a:hover{
  color: var(--secondary-color);
}

.myLogo{
  border-radius: 50px;
}

/* HOME */

#home {
  scroll-margin-top: 100px; 
}

section#home {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 60px 20px;
  position: relative;
}

@media screen and (max-width: 900px) {
  section#home {
  flex-direction: column;
  padding: 30px 20px;
  }
}
@media screen and (max-width: 680px) {
  section#home {
    flex-direction: column;
  }
}

.home-image-container,
.home-txt-container {
  flex: 1; 
  padding: 20px; 
  position: relative;
}
.home-image-container{
  display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.home-txt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 900px) {
  .home-txt-container {
    padding: 0;
  }
}
img.myImg {
  width: 100%;
}

.home-image-container::before {
  content: "";
  position: absolute;
  top: 193px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  border-radius: 79px;
  z-index: -1;
  filter: blur(89px);
}

svg#Capa_1 {
  position: absolute;
  right: 60px;
  top: 80px;
}

h1 {
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: 500;
}

p.home-myName {
  font-size: 26px;
  line-height: 40px;
}

h2.home-title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 5px;
}

@media screen and (max-width: 984px) {
  h2.home-title {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 366px) {
  h2.home-title {
    text-align: center;
  }
}

span.name {
  color:var(--secondary-color);
  font-weight: 600;
}

.menu-toggle {
  display:none;
}

@media screen and (max-width: 680px) {
.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 20px;
  box-sizing: border-box;
}

.menu-toggle span {
  height: 2px;
  width: 35px;
  background-color: var(--text-color);
  margin: 5px 0;
  transition: 0.4s;
}
}

/* ABOUT */

section#about {
  background-color: var(--primary-color);
  padding: 30px 155px;
}

@media screen and (max-width: 900px) {
  section#about {
  padding: 29px 50px;
  position: relative;

  }
}

h2.about-title {
  text-align: center;
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: 500;
}

section#about .about-text {
  margin-top: 30px;
  text-align: justify;
}

p.italic-text {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: var(--secondary-color);
}

button.btn-cv {
  display: block;
  margin: 20px auto;
  width: 320px;
  height: 60px;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: var(--primary-color);
  color:var(--text-color);
  border: 1px solid var(--secondary-color);
  border-radius:10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

@media screen and (max-width: 390px) {
  button.btn-cv {
    width: 260px;
    height:50px; 
  }
}

button.btn-cv:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* SERVICES */

section#services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 20px;
  background: linear-gradient(to bottom right, var(--primary-color), var(--primary-color), var(--primary-color),var(--secondary-color));
}

@media screen and (max-width: 900px) {
  section#services {
    padding: 30px 20px;
  }
}

.swiper {
  width: 900px;
  height: 370px;
  user-select: none;
}

@media screen and (max-width: 950px) {
  .swiper {
    width: 700px;
  }
}

@media screen and (max-width: 780px) {
  .swiper {
    width: 600px;
  }
}

@media screen and (max-width: 680px) {
  .swiper {
    width: 300px;
  }
}

.swiper .swiper-slide{
  display:flex;
  height: 310px;
  align-items: center;
  flex-direction: column;
  background-color: #FFF;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

h2.services-title{
  text-align: center;
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: 40px;
}

img.img-slide {
  margin-top: 24px;
}

p.txt-slide {
  color: var(--primary-color);
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  padding: 0 12px;
}

.swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: unset;
  border: 1px solid #FFF;
  box-sizing: border-box;
  position: relative;
}
.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FFF;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 350px !important;
  width: 48px !important;
  height: 48px !important;
}

svg.swiper-button-prev {
  margin-left: 330px;
}

svg.swiper-button-next {
  margin-right: 330px;
}

@media screen and (max-width: 980px) {
 svg.swiper-button-prev {
  margin-left: 300px;
}

svg.swiper-button-next {
  margin-right:300px;
}
}

@media screen and (max-width: 950px) {
  svg.swiper-button-prev {
   margin-left: 230px;
 }
 
 svg.swiper-button-next {
   margin-right:230px;
 }
 }

@media screen and (max-width: 782px) {
 svg.swiper-button-prev {
  margin-left: 180px;
}

svg.swiper-button-next {
  margin-right: 180px;
}
}

@media screen and (max-width: 680px) {
  svg.swiper-button-prev {
   margin-left: 0;
 }
 
 svg.swiper-button-next {
   margin-right: 0;
 }
 }

 /* PROJECTS*/

 section#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 20px;
  background: linear-gradient(to top right, var(--primary-color), var(--primary-color), var(--primary-color),var(--secondary-color));
}
@media screen and (max-width: 900px) {
  section#projects {
    padding: 30px 20px;
  }
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
}

#projects article {
  width: 300px;
  height: 400px;
  background: var(--primary-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

h2.projects-title{
  text-align: center;
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: 40px;
}

/*CONTACT*/

section#contact {
  padding: 30px 20px;
}

h2.contact-title{
  text-align: center;
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: 500;
  margin-bottom: 40px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  form {
    max-width: 320px;
  }
}

.input__container label,
.input__container input,
.input__container textarea {
      font-family: inherit; 
      
    }

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 10px;
}

.input__container.textarea textarea {
  height: 120px;
}

button.buttonSubmit {
  background-color: var(--secondary-color);
  color:var(--text-color);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 280px;
  height: 44px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}


.buttonSubmit:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* FOOTER */

footer {
  padding: 20px 20px;
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
}

h4.footer-desc {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.top-line {
  background: var(--text-color);
  width: 500px;
  height: 1px;
  margin-bottom: 24px;
}

@media screen and (max-width: 680px) {
  .top-line {
    max-width: 320px;
  }
}

/* TOOLTIPS */

.tooltip{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 10px;
}

.tooltipText {
  transform: translateX(-50%);
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 10px;
  border: 1px solid var(--text-color);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 160px;
  height: 145px;
  border-radius: 15px;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
.tooltipText h5{
  margin-bottom: 10px;
}

.tooltip:hover svg {
  fill: var(--secondary-color);
}

.tooltip.tooltipHome {
  margin-top: -100px;
}

@media screen and (max-width: 900px) {
  .tooltip.tooltipHome {
    margin-top: -120px;
    margin-left: 650px;
}
}

@media screen and (max-width: 806px) {
  .tooltip.tooltipHome {
   
    margin-left: 450px;
}
}

@media screen and (max-width: 610px) {
  .tooltip.tooltipHome {

    margin-left: 350px;
}
}
@media screen and (max-width: 510px) {
  .tooltip.tooltipHome {

    margin-left: 250px;
}
}
@media screen and (max-width: 410px) {
  .tooltip.tooltipHome {
   
    margin-left: 150px;
}
}

.tooltip.tooltipServices {
  margin-top: -110px;
  margin-left: 300px;
}
@media screen and (max-width: 900px) {
  .tooltip.tooltipServices {

    margin-left: 210px;
  }
}

@media screen and (max-width: 410px) {
  .tooltip.tooltipServices {
   
    margin-left: 110px;
  }
}

.tooltip.tooltipAbout {
  margin-top: -130px;
  margin-left: 90px;
}

.tooltip.tooltipCommunication {
  margin-top: -120px;
  margin-left: 400px;
}
@media screen and (max-width: 1200px) {
  .tooltip.tooltipCommunication {
    margin-left: 200px;
  }
}

@media screen and (max-width: 850px) {
  .tooltip.tooltipCommunication {
    margin-left: 80px;
  }
}

@media screen and (max-width: 600px) {
  .tooltip.tooltipCommunication {
    margin-left: 26px;
  }

.tooltipText{
    transform: translateX(-10%);
  }
}
.tooltip.tooltipLearning {
  margin-top: -120px;
  margin-left: 160px;
}

@media screen and (max-width: 850px) {
  .tooltip.tooltipLearning {
    margin-left: 80px;
  }
}
@media screen and (max-width: 600px) {
  .tooltip.tooltipLearning {
    margin-left: 10px;
  }
}